.container img {
    max-width: 500px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container>div:first-child{
    margin-right: 200px;
    margin-left: 200px;
    display: block;   
}
.img {
    width: 40px;
}
.editpostHeadline {
    width: 100%;
    font-size: 25px;
}
.editpostText {
    width: 100%;
    font-size: 23px;
    min-height: 200px;
}
.btn {
    margin-right: 10px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(123, 47, 126);
    outline: none;
    font-weight: 900;
    border-radius: 10px;
    border: 1px solid rgb(100, 12, 100);
  }
  .btn:hover{
    background-color: rgb(194, 194, 194);
  }

.btnSaved {
  width: 300px;
  margin-right: 10px;
  padding: 15px;
  margin-top: 10px;
  cursor: none;
  font-size: 1em;
  color: rgb(115, 40, 117);
  background-color: rgb(172, 166, 166);
  outline: none;
  font-weight: 900;
  border-radius: 10px;
  border: 1px solid rgb(100, 12, 100);
}