<html>
    <head>
        <title>Django Ira's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Ira's Blog</a></h1>
        </div>

        <div>
            <p>published: 21.04.2022, 18:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Some text for my first post</p>
        </div>

        <div>
            <p>published: 21.04.2022, 18:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Some text for my second post</p>
        </div>
    </body>
</html>
